<div class="container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>E-mail</th>
            <th>Rol</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            @for (item of usuarios; track item) {
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.rol}}</td>
                    <td>
                        <button class="btn btn-success" [routerLink]="['/editarUsuario',item.id]" >Editar</button>
                            <button class="btn btn-danger" (click)="eliminar(item.id)"  data-bs-toggle="modal" data-bs-target="#myModal">Eliminar</button>
                    </td>
                  </tr>
            }
          
        </tbody>
      </table>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="modal-header">
          <h4 class="modal-title">Eliminación exitosa</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <div class="modal-body">
          Para verificar los cambios, por favor recarga la página
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>