<div class="container py-2" style="width: 90%;">
    <h3 class="text-center">Registra tu orden</h3>
    <form (ngSubmit)="guardarMesa(formulario)" #formulario="ngForm" class="mesa-form">
      <div class="form-group">
        <label for="mesa" class="form-label">Selecciona tu mesa:</label>
        <div class="input-group">
          <input type="number" 
                 class="form-control" 
                 id="mesa" 
                 placeholder="Ingresar número de mesa" 
                 name="mesa" 
                 [(ngModel)]="mesa" 
                 #mesa>
          <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
      </div>
    </form> 
      <div class="mb-3 mt-3">
        <div class="container py-5">
          <div class="row">
            @for (item of productosRegistrado; track item) { 
            <div class="col-lg-3 my-2">
              <div class="product_card">
                <div class="card border-0">
                  <div class="card-header bg-transparent border-0 p-0">
                    <img class="card-img-top" src="{{ item.imagen }}" alt="" />
                    <div class="card-overlay">
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary" (click)="registrar(item)" data-bs-toggle="modal" data-bs-target="#myModal">
                          <i
                            ><img src="../../../assets/images/icons/shopping-cart.svg"
                          /></i>
                        </button>
                        <button type="button" class="btn btn-light" (click)="registrar(item)" data-bs-toggle="modal" data-bs-target="#myModal">Agregar</button>
                      </div>
                    </div>
                    <div class="details-btn">
                    </div>
                  </div>
                  <div class="card-body">
                    <small>
                      <a
                        href="#"
                        class="text-muted"
                        style="text-decoration: none; margin: 5px; font-weight: bold">{{ item.producto }} </a>                      
                    </small>
                    <div class="price">
                      <span class="text-warning" #precio> ${{ item.precio }} </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            } 
          </div>
        </div>
      </div>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="modal-header">
          <h4 class="modal-title">Producto agregado exitosamente</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <div class="modal-body">
          El producto lo podras ver registrado en la pantalla orden
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>